<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script>
        $(window).load(function () { $(".se-pre-con").fadeOut("slow");; });</script>
    <meta charset="utf-8">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta charset="utf-8">
    <title>Sainpse</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="./img/favicon.png" rel="icon">
    <link href="./img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="./lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="./lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="./lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="./css/style.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <div class="se-pre-con"></div>
    <!--==========================
  Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="#hero">
                    <img src="./img/logo.png" alt="" title="" Style="width: auto; height:45px;"></img>
                </a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="menu-active">
                        <a href="media.html">Media</a>
                    </li>
                    <li class="menu-active">
                        <a href="fashion.html">Fashion</a>
                    </li>
                    <li class="menu-active">
                        <a href="medicine.html">Home</a>
                    </li>
                    <li class="menu-active">
                        <a href="science.html">Home</a>
                    </li>
                    <li class="menu-active">
                        <a href="transport.html">Home</a>
                    </li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Hero Section
  ============================-->
    <section id="hero" class="crime_hero">
        <div class="hero-container">
            <h4 class="textTitle mediaCaption">Crime</h4>
            <h6 class="textMessage">Agencies across the world are moving toward more data-driven approaches to solving crimes.</h6>
            <a href="#portfolio" class="btn-get-started">Propose</a>
        </div>
    </section>
    <!-- #hero -->

    <main id="main">
        <section id="facts">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h5 class="section-title">AI in Crime</h5>
                    <p class="section-description">
                        <h5 class="padding-top:"> Law Enforcement</h5>
                        One of our goals is to help the South African Law enforment agencies and goverment in tackingling crime by using intelligent systems that can scan millions of police records, interviews, pictures, videos (Similar techology used for digital media) and other types of evidence to identify patterns and make
                        connections that might be relevant to an investigation. 

                        <h5 class="padding-top:"></h5>
                        leveraging advances in deep learning, particularly in computer vision, to identify objects like guns and people with criminal
                        records with unprecedented granularity. We will allow the police to catch the criminals in the act and reduce corruption.
                    </p>
                </div>
                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="">0</span>
                        <p>Products</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="">0</span>
                        <p>Active Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="">0</span>
                        <p>Research</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="" id="#DaysLet" onload="getDifference()">N/A</span>
                        <p>Days Until Product Release</p>
                    </div>

                </div>

            </div>
        </section>
        <!-- #facts -->

        <!--==========================
      Portfolio Section
    ============================-->

        <!-- #portfolio -->

        <!--==========================
      Contact Section
    ============================-->
        <!-- #contact -->

    </main>
    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="container wow fadeInUp">
                    <div class="row ">


                        <div class="col-lg-4 col-md-4">
                            <i class="fa fa-map-marker" style="float: left; padding-right:10px;"></i>
                            <p>1-4 Leyo Street Unit 809B
                                <br> Braamfontien, Johannesburg, 1868</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <i class="fa fa-envelope" style="float: left; padding-right:10px;"></i>
                            <p>crime@sainpse.com</p>
                        </div>

                        


                        <div class="social-links" style="padding-left:10px;">
                            <a href="#" class="twitter" style="padding-right:10px;">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="facebook" style="padding-right:10px;">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="instagram" style="padding-right:10px;">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="google-plus" style="padding-right:10px;">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="linkedin" style="padding-right:10px;">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright
                <strong>Sainpse Institute</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top">
        <i class="fa fa-chevron-up"></i>
    </a>
    <!-- Template Main Javascript File -->
    <script src="./js/main.js"></script>

    <!-- JavaScript Libraries -->
    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/jquery/jquery-migrate.min.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./lib/easing/easing.min.js"></script>
    <script src="./lib/wow/wow.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

    <script src="./lib/waypoints/waypoints.min.js"></script>
    <script src="./lib/counterup/counterup.min.js"></script>
    <script src="./lib/superfish/hoverIntent.js"></script>
    <script src="./lib/superfish/superfish.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="./contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="./js/main.js"></script>

</body>

</html>
<script src="./lib/waypoints/waypoints.min.js"></script>
<script src="./lib/counterup/counterup.min.js"></script>
<script src="./lib/superfish/hoverIntent.js"></script>
<script src="./lib/superfish/superfish.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="./contactform/contactform.js"></script>


</body>

</html>