<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sainpse</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="./img/favicon.png" rel="icon">
    <link href="./img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="./lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="./lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="./lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="./css/style.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <!--==========================
  Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="#hero"><img src="img/logo.png" alt="" title="" Style="width: auto; height:45px;"></img>
                </a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#hero">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Research & Products</a></li>
                    <li><a href="#services">Tools</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
    <section id="hero">
        <div class="hero-container">
            <h4 class="textTitle">Sainpse Institude</h4>
            <h6 class="textMessage">Advancing and utilizing artificial intelligence research to empower businesses, individuals and governments.</h6>
<a href="#portfolio" class="btn-get-started">Survey</a>
        </div>
    </section>
    <!-- #hero -->

    <main id="main">

        <!-- #about -->
<section id="portfolio" class="">
    <div class="container wow fadeInUp industries">
        <div class="row" id="portfolio-wrapper">
<div class="col-lg-2 col-md-2 portfolio-item filter-app industries-items">
                <a href="media.html">
                    <img src="img/portfolio/app1.jpg" alt="">
                    <div class="details">
                        <h4>Digital Media</h4>
                        <span>Music, Pictures, Social Media ...</span>
                    </div>
                </a>
            </div>

<div class="col-lg-2 col-md-2 portfolio-item filter-web industries-items">
                <a href="medicine.html">
                    <img src="img/portfolio/web2.jpg" alt="">
                    <div class="details">
                        <h4>Medicine</h4>
<span>pathology, cardiology, ophthalmology ...</span>
                    </div>
                </a>
            </div>

<div class="col-lg-2 col-md-2 portfolio-item filter-app industries-items">
                <a href="crime.html">
                    <img src="img/portfolio/app3.jpg" alt="">
                    <div class="details">
                        <h4>Crime</h4>
<span>Crime Predictions, fraud detection   ...</span>
                    </div>
                </a>
            </div>

<div class="col-lg-2 col-md-2 portfolio-item filter-card industries-items">
                <a href="transport.html">
                    <img src="img/portfolio/card1.jpg" alt="">
                    <div class="details">
                        <h4>Transportation</h4>
                        <span>Public and Personal</span>
                    </div>
                </a>
            </div>

<div class="col-lg-2 col-md-2 portfolio-item filter-card industries-items">
                <a href="science.html">
                    <img src="img/portfolio/science.jpeg" alt="">
                    <div class="details">
                        <h4>Science</h4>
                        <span>Genes, Astronomy, Social Science ...</span>
                    </div>
                </a>
            </div>
<div class="col-lg-2 col-md-2 portfolio-item filter-card industries-items">
                <a href="fashion.html">
                    <img src="img/portfolio/card2.jpg" alt="">
                    <div class="details">
                        <h4>Fashion & Modeling</h4>
                        <span>Smart clothing, wearables, value chain ...</span>
                    </div>
                </a>
            </div>         
        </div>

    </div>
</section>
        <!--==========================
      Facts Section
    ============================-->
        <section id="facts">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h3 class="section-title">Products & Research</h3>
                    <p class="section-description">Pursuing advances in machine intelligence to complement human reasoning and augment our competencies</p>
                </div>
                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="">0</span>
                        <p>Products</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="">1</span>
                        <p>Active Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="">1</span>
                        <p>Research</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="" id="#DaysLeft" onload="getDifference()">100</span>
                        <p>Days Until Product Release</p>
                    </div>

                </div>

            </div>
        </section>
        <!-- #facts -->

        <!--==========================
      Services Section
    ============================-->
        <section id="services">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h3 class="section-title">Tools</h3>
                    <p class="section-description">Modern AI tools designed for developers and data scientists help us create AI solutions easily, and with maximum productivity.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box">
                            <div class="icon"><a href="https://studio.azureml.net/"><i class="fa fa-desktop"></i></a></div>
                            <h4 class="title"><a href="https://studio.azureml.net/" style="color:#fff;">Microsoft Machine Learning Studios</h4></a>
                            <p class="description"> To easily build, deploy, and manage predictive analytics solutions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box">
                            <div class="icon"><a href="https://notebooks.azure.com/"><i class="fa fa-bar-chart"></i></a></div>
<h4 class="title" >
<a href="https://notebooks.azure.com/" style="color:#fff;">Azure Notebooks</a>
</h4>
                            <p class="description"> To organize our datasets and Jupyter Notebooks in a centralized library for data science and analysis.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="box">
                            <div class="icon"><a href="https://www.tensorflow.org/"><i class="fa fa-paper-plane"></i></a></div>
<h4 class="title" >
<a href="https://www.tensorflow.org/" style="color:#fff;">Tensorflow</a>
</h4>
                            <p class="description">library for numerical computation using data flow graphs</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box">
<div class="icon">
    <a href="https://azure.microsoft.com/en-us/services/cognitive-services/" style="color:#fff;">
        <i class="fa fa-photo"></i>
    </a>
</div>
<h4 class="title" style="color:#fff;">
<a href="https://azure.microsoft.com/en-us/services/cognitive-services/" style="color:#fff;">Microsoft Cognitive Services</a>
</h4>
                            <p class="description">To leverage a set of comprehensive tools to build, deploy and operationalize AI products and services at scale.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box">
                            <div class="icon"><a href="https://azure.microsoft.com/en-us/services/cosmos-db/?&WT.srch=1&WT.mc_id=AID631224_SEM_8emBMhT7&gclid=Cj0KCQiAg4jSBRCsARIsAB9ooasK-DXf8RgwJzlDybsDP9T4xETdFYrAie1mcbsTLnJNFnXvjBvz_cIaAtNOEALw_wcB"><i class="fa fa-road"></i></a></div>
<h4 class="title" style="color:#fff;">
<a href="https://azure.microsoft.com/en-us/services/cosmos-db/?&WT.srch=1&WT.mc_id=AID631224_SEM_8emBMhT7&gclid=Cj0KCQiAg4jSBRCsARIsAB9ooasK-DXf8RgwJzlDybsDP9T4xETdFYrAie1mcbsTLnJNFnXvjBvz_cIaAtNOEALw_wcB" style="color:#fff;">Azure Cosmos DB</a>
</h4>
                            <p class="description">to integrate AI with a globally distributed, multi-model database service.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="box">
                            <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
<h4 class="title" style="color:#fff;">
<a href="" style="color:#fff;">Custom Tools</a>
</h4>
                            <p class="description">Deep Learning api services developed internaly</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- #services -->

        <!--==========================
    Call To Action Section
    ============================-->
        
        <!-- #call-to-action -->

        <!--==========================
      Portfolio Section
    ============================-->
        
        <!-- #portfolio -->

        <!--==========================
      Team Section
    ============================-->
        <section id="about">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h3 class="section-title">About</h3>
                    <p class="section-description">The Sainpse institude was founded in 2017</p>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12" >
                        <p>
 The Sainpse institude is a research and product development organistion aiming to empower humanity by cultivating, developing and commercializing systems with intelligence. delivering most of its intelligence solutions through virtual assitants that can understand linguistic features,
emotions and user intent.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- #team -->

        <!--==========================
      Contact Section
    ============================-->
        <!-- #contact -->

    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
<div class="container wow fadeInUp">
    <div class="row ">

       
                <div class="col-lg-4 col-md-4">
                    <i class="fa fa-map-marker" style="float: left; padding-right:10px;"></i>
<p>1-4 Leyo Street Unit 809B
<br> Braamfontien, Johannesburg, 1868</p>
                </div>
                <div class="col-lg-4 col-md-4">
<i class="fa fa-envelope" style="float: left; padding-right:10px;"></i>
                    <p>marcusm@sainpse.com</p>
                </div>

                <div class="col-lg-4 col-md-4">
<i class="fa fa-phone" style="float: left; padding-right:10px;"></i>
                    <p>+27 81 231 8976</p>
                </div>


<div class="social-links" style="padding-left:10px;">
<a href="#" class="twitter" style="padding-right:10px;">
                    <i class="fa fa-twitter"></i>
                </a>
<a href="#" class="facebook" style="padding-right:10px;">
                    <i class="fa fa-facebook"></i>
                </a>
<a href="#" class="instagram" style="padding-right:10px;">
                    <i class="fa fa-instagram"></i>
                </a>
<a href="#" class="google-plus" style="padding-right:10px;">
                    <i class="fa fa-google-plus"></i>
                </a>
<a href="#" class="linkedin" style="padding-right:10px;">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Sainpse Institude</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./lib/easing/easing.min.js"></script>
    <script src="./lib/wow/wow.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

    <script src="./lib/waypoints/waypoints.min.js"></script>
    <script src="./lib/counterup/counterup.min.js"></script>
    <script src="./lib/superfish/hoverIntent.js"></script>
    <script src="./lib/superfish/superfish.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="./contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="./js/main.js"></script>

</body>

</html>
<script src="./lib/waypoints/waypoints.min.js"></script>
<script src="./lib/counterup/counterup.min.js"></script>
<script src="./lib/superfish/hoverIntent.js"></script>
<script src="./lib/superfish/superfish.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="./contactform/contactform.js"></script>



</body>

</html>