<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script>
        $(window).load(function () { $(".se-pre-con").fadeOut("slow");; });</script>
    <meta charset="utf-8">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta charset="utf-8">
    <title>Sainpse-Media</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <div class="se-pre-con"></div>
    <!--==========================
  Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="#hero">
                    <img src="img/logo.png" alt="" title="" Style="width: auto; height:45px;"></img>
                </a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="">
                        <a href="crime.html">Crime</a>
                    </li>
                    <li class="menu-active">
                        <a href="media.html">Media</a>
                    </li>
                    <li class="">
                        <a href="fashion.html">Fashion</a>
                    </li>
                    <li class="">
                        <a href="medicine.html">Medicine</a>
                    </li>
                    <li class="">
                        <a href="science.html">Science</a>
                    </li>
                    <li class="">
                        <a href="transport.html">Transport</a>
                    </li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Hero Section
  ============================-->
    <section id="hero" class="media_hero">
        <div class="hero-container">
            <h4 class="textTitle mediaCaption">Digital Media</h4>
            <h6 class="textMessage">The idea is not to displace content creators, but rather free resources so they can focus on high level creative work.</h6>
          
        </div>
    </section>
    <!-- #hero -->

    <main id="main">
        <section id="facts">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h5 class="section-title">AI in media</h5>
                    <p class="section-description">
                        <h5 class="padding-top:"> Deep Video Analysis, Translation</h5>
                        Deep video analysis 
                        interesting area leading to manifold expansion in video insights by learning scene changes, locational references, voice,
                        facial and object recognition. This intelligence is going a long way in enriching content taxonomy and appropriate tagging
                        of the content, which is improving accuracy of content linkage, search and association. The Sainpse Institute is positioning itself to significantly change
                        the entire content management landscape with machine driven indexing, metadata-tagging, cataloging etc., turning manual processes
                        to highly automated workflows. Video translation to multiple languages and dialects and multi lingual subtitles to
                        expand content’s addressable market to far greater South African audiences than ever before.
                        <h5 class="" style="padding-top:40px !important;">Music Creation</h5>
                        <a href="http://www.aiva.ai/">Aiva Technologies</a> is one of the leading startups in the field of AI music composition
                         It was founded just last year in Luxembourg and London by Pierre Barreau, Denis Shtefan, Arnaud Decker, and Vincent Barreau.
                        They have created an AI called “Aiva” (Artificial Intelligence Virtual Artist) and taught it how to compose classical music
                        – an emotional art which is usually considered to be a uniquely human quality. Aiva’s musical pieces are used as soundtracks
                        for film directors, advertising agencies, and even game studios. Sainpse Aims to extend this type of technology to the South African music industry
                        <h5 class="" style="padding-top:40px !important;">Conversational Apps</h5>
                         Conversational apps can be used to supply your customers with available assistance, twenty-four hours a day, seven days
                        a week on all major social media platforms. Alternatively, keeping customer service representatives on call 24/7 is both difficult and expensive. This makes
                        it appealing to use chat bots in place of customer service reps when the work day is over. Moreover, it prevents the need
                        to hire extra workers to cover the phones outside of business hours. This helps to save businesses some money while still
                        providing quality service to your customers.
                    </p>
                </div>
                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="">0</span>
                        <p>Products</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="">1</span>
                        <p>Active Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="">1</span>
                        <p>Research</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="" id="#DaysLeft" onload="getDifference()">100</span>
                        <p>Days Until Product Release</p>
                    </div>

                </div>

            </div>
        </section>
        <!-- #facts -->

        <!--==========================
      Portfolio Section
    ============================-->

        <!-- #portfolio -->

        <!--==========================
      Contact Section
    ============================-->
        <!-- #contact -->

    </main>
    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="container wow fadeInUp">
                    <div class="row ">


                        <div class="col-lg-4 col-md-4">
                            <i class="fa fa-map-marker" style="float: left; padding-right:10px;"></i>
                            <p>1-4 Leyo Street Unit 809B
                                <br> Braamfontien, Johannesburg, 1868</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <i class="fa fa-envelope" style="float: left; padding-right:10px;"></i>
                            <p>media@sainpse.com</p>
                        </div>



                        <div class="social-links" style="padding-left:10px;">
                            <a href="#" class="twitter" style="padding-right:10px;">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="facebook" style="padding-right:10px;">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="instagram" style="padding-right:10px;">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="google-plus" style="padding-right:10px;">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="linkedin" style="padding-right:10px;">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright
                <strong>Sainpse Institute</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top">
        <i class="fa fa-chevron-up"></i>
    </a>
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>

</html>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>


</body>

</html>