                    .HLetter {
                        color: #340434;
                        margin: 0px !important;
                        padding: 0px !important;
                    }
                    
                    .logoIcon {
                        width: 100px;
                        margin: 50px;
                        height: auto;
                    }
                    
                    .menu {
                        margin-top: 90px !important;
                    }
                    
                    .menuIcon {
                        /*Properties*/
                        width: 60px;
                        padding: 10px;
                        height: auto;
                        border-radius: 100%;
                        /*Animation*/
                        -webkit-animation-duration: 3s;
                        -webkit-animation-delay: 2s;
                        -webkit-animation-iteration-count: 1;
                        -moz-animation-duration: 3s;
                        -moz-animation-delay: 2s;
                        -moz-animation-iteration-count: 1;
                        animation-duration: 3s;
                        animation-delay: 2s;
                        animation-iteration-count: 1;
                        transition-duration: 0.5s;
                    }
                    
                    .bold {
                        font-weight: bolder !important;
                    }
                    
                    .menuIcon:hover {
                        width: 70px;
                        border: 1px solid #05b26f !important;
                        border-radius: 100%;
                    }
                    
                    .slogan {
                        font-family: Arial, Helvetica, sans-serif !important;
                        font-size: 16px !important;
                        padding: 10px;
                        color: #05b26f !important;
                        letter-spacing: 2px;
                        -webkit-animation-delay: 1s;
                        -moz-animation-delay: 1s;
                        animation-delay: 1s;
                    }
                    
                    .marc-navbar {
                        background: #000;
                        opacity: 0.5;
                    }
                    
                    .marcFont {
                        font-family: Roboto !important;
                    }
                    
                    .sainpse {
                        color: #263238;
                        color: #4f5b62;
                        color: #000a12;
                        color: #64ffda
                    }
                    
                    .introMedia {
                        height: 1000 !important;
                        width: 100% !important;
                    }